* {
  text-decoration: none;
  margin: 0;
  border: 0;
}

body {
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: green;
  height: 80px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 127, 127);
  column-gap: 190px;
  padding: 0 190px;
  width: 100vw;
  position: fixed;
}

.header span {
  font-size: 11px;
  line-height: 19.8px;
  text-align: left;
  letter-spacing: 1px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 60px;
}

#hero {
  background-image: url(./assets/image-f.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.534);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.295);
}

.logo {
  font-size: 16px;
  line-height: 18.4px;
  color: aquamarine;
  font: bold;
}

.hero-content h1 {
  font-size: 60px;
  line-height: 100.064px;
  color: white;
  font-style: oblique;
  font-weight: bolder;
}

.hero-content p {
  color: white;
  font-style: italic;
}

.hero-content Button {
  color: white;
  background-color: #82ae46;
  padding: 6px 12px;
  border-radius: 20px;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 40px;
  padding: 40px;
}

.gallery-item {
  width: 100%;
}

.gallery-item {
  width: 100%;
  height: 297px;
  position: relative;
  border: 1px solid grey;
  background-color: #82ae46;
  object-fit: cover;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.header2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60;
  row-gap: 15px;
}

.header2 h4 {
  color: #82ae46;
  font-size: 18px;
  font-style: italic;
}

.subhead {
  font-size: 40px;
  font: bold;
  color: black;
}

.para {
  color: #808080;
  font-size: 15px;
  font-style: italic;
}

.our-p {
  padding: 90px 120px;
}

.footer-s {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #808080;
  padding: 18px;
  margin: 24px -15px;
  width: 100vw;
}

.footer-item {
  margin: 48px -100px;
  padding: 18;
}

.footer-s button {
  background-color: #82ae46;
  color: white;
  height: 52px;
  font-size: 12px;
  line-height: 21.6px;
  padding: 1px 16px;
}
.footer-s input {
  height: 52px;
  padding: 6px 12px;
  width: 447px;
}

.form-ctrl {
  display: flex;
  align-items: center;
}
